table {
  margin: auto;
  border: 1px solid black;
  padding: 16px;
  margin-top: 32px;
  width: 90%;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid black;
}

td:nth-of-type(3n + 2) {
  border-left: 4px solid black;
}

th:not(:first-of-type) {
  border-left: 4px solid black;
  position: relative;
}

#add,
.controls * {
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-around;
}
